@charset "UTF-8";
/* CSS Document */

/* Just to visualize all the elements (blocks) */
/* 
* 
{
	border: 1px solid gray;
}

*/

body {
    background-color: #efefef;
    padding: 20px 20px 20px 20px;
    text-align: center;
    width: 900px;
    margin: 0 auto;

}

p {
    font-family: 'Jura', sans-serif;
    font-size: 16px;
    color: #3AAACF;
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

.logo h1, .logo a {
    text-align: right;
    color: #024E68;
    background-color: #61B4CF;
    text-decoration: none;
    font-family: 'Fredericka the Great', cursive;
    font-size: 48px;
    font-variant: small-caps;
    letter-spacing: 5px;
}

.logo p {
    text-align: right;
    color: #06799F;

    font-family: 'Amatic SC', cursive;
    font-size: 36px;
}

.nav {
    background-color: #FFBB73;
    line-height: 2em;
}

.nav li {
    display: inline;
    margin-right: 20px;

}

.nav li a {
    color: #A65500;
    font-variant: small-caps;
    font-size: 1.3em;
}

#main {
    border: 3px solid;
    height: 400px;
    width: 700px;
    margin: 0 auto;
    background-color: #024E68;;
}

#content {
    background: #333;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.main-content {
    font-family: 'Jura', sans-serif;
    font-size: 1.5em;
    color: #3AAACF;

    padding: 15px 15px 15px 15px;
}

#content p {
    color: #999999;
}

.footer {
    margin: 0 auto;
}

.footer p {
    text-transform: uppercase;
    border-bottom: solid 1px;
}

.footer li {
    display: inline;
}